
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #18a7b9;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}


.logo {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}


nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #4CAF50;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #4CAF50;
}


.boton,
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.boton:hover,
button:hover {
    background-color: #0056b3;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}

form input,
form textarea,
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.comentario {
    background-color: #e8f5e9;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border-left: 5px solid #4CAF50;
}

.comentarios {
    width: 60%;
    margin: auto;
    text-align: center;
}


.video {
    text-align: center;
    margin: 20px 0;
}

.video iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.boton-flotante:hover {
    background: #0056b3;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}


