{% extends "base.html" %}

{% block title %}Tutoriales | CodeHelp{% endblock %}

{% block content %}
<section>
    <h2>Tutoriales en Video</h2>
    <ol>
        <li>
            <h4>Introducción a HTML</h4>
            <iframe src="https://www.youtube.com/embed/ELSm-G201Ls" allowfullscreen></iframe>
        </li>
        <li>
            <h4>CSS desde cero</h4>
            <iframe src="https://www.youtube.com/embed/rr2H086z16s" allowfullscreen></iframe>
        </li>
        <li>
            <h4>Introducción a JavaScript</h4>
            <iframe src="https://www.youtube.com/embed/z95mZVUcJ-E" allowfullscreen></iframe>
        </li>
    </ol>
</section>
{% endblock %}
