
{% extends "base.html" %}
{% block title %}Tutoriales | CodeHelp{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">

<div class="container">
    <h1>Tutoriales</h1>

    <div class="card">
        <img src="https://img.youtube.com/vi/UB1O30fR-EE/maxresdefault.jpg" style="width:100%;">
        <h3>Curso HTML desde Cero</h3>
        <a href="https://www.youtube.com/watch?v=UB1O30fR-EE" target="_blank">Ver video</a>
    </div>

    <div class="card">
        <img src="https://img.youtube.com/vi/OEV8gMkCHXQ/maxresdefault.jpg" style="width:100%;">
        <h3>Curso CSS Completo</h3>
        <a href="https://www.youtube.com/watch?v=OEV8gMkCHXQ" target="_blank">Ver video</a>
    </div>
</div>

{% endblock %}
